nav {
  img {
    filter: invert(99%) sepia(91%) saturate(2%) hue-rotate(33deg)
      brightness(110%) contrast(101%);
  }
}

.map-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.carousel-inner {
  max-height: 40rem;
}

.contact-container {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 575.98px) {
  .contact-container {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
  }
}
